* {
    font-family: 'Inter';
}
.signup button, .signin button, .project-register button, .member-project-register button {
    align-items: center;
    width: 349px;
    height: 64px;
    border-radius: 40px;
    border: none;
    color: #FFFFFF;
}

.signup, .signin, .project-register, .profile , .member-project-register, .member-profile{
    text-align: center;
}
.signup input, .signin input, .project-register input, .member-project-register input {
    box-sizing: border-box;

    /* Auto layout */

    flex-direction: row;
    align-items: center;
    padding: 14px;
    gap: 5px;

    width: 350px;
    height: 44px;

    /* White */

    background: #FFFFFF;
    /* Main Colors/Gray/0.5 */

    border: 1px solid #909090;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    margin-bottom: 27px;
}

.signup h1, .signin h1, .project-register h1, .member-project-register h1 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 40%;
    /* identical to box height, or 128px */

    align-items: center;
    text-align: center;
}

.signin div>button {
    margin: 0px 159px;
}
.tab-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.tab-navigation li {
    float: right;
    display: inline;
    border-right: 1px solid #bbb;
}
.tab-navigation li:first-child {
    border-right: none;
}
.tab-navigation li:last-child {
    float: left;
    border-right: none;
}
.tab-navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.tab-navigation li a:hover {
    background-color: white;
    opacity: 50%;
    color: black;
}
.active {
    background-color: #5E3A9E;
}
.map-items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.map-items li {
    display: inline;
    float: left;
    margin-right: 400;
}
#logout {
    align-items: center;
    width: 349px;
    height: 64px;
    border-radius: 40px;
    border: none;
    color: white
}
.assignment, .dashboard {
    text-align: center;
}
.assignment table, .dashboard table {
    /* border: 0px solid black; */
    border-collapse: collapse;
}
.assignment table th,
.assignment table td, .dashboard table th, .dashboard table td {
    width: 1284px;
    padding: 0.75rem;
    vertical-align: middle;
}
.assignment table th, .dashboard table th {
    color: white;
}
.assignment tbody tr:nth-of-type(odd) {
    background-color: #DECFFB
}
.dashboard tbody tr:nth-of-type(odd) {
    background-color: #AEDCFF
}
.assignment tbody tr:nth-of-type(even) {
    background-color: #E9DFFC
}
#input-data {
    display: flex;
    justify-content: center;
}
.assignment select, .map-items select, .dashboard select, .dropping select {
    box-sizing: border-box;
    /* Auto layout */
    align-items: center;
    padding: 10px;
    margin: 0px 30px;
    width: 300px;
    height: 48.17px;
    /* Main Colors/Gray/-1 */
    border: 0.5px solid #E6E6E6;
    border-radius: 5px;
}
.assignment select, .map-items select {
    background: #D3BFF9;
}
.dashboard select, .dropping select {
    background: #AEDCFF;
}
.assignment button, .map-items button, .dashboard button, .dropping button {
    align-items: center;
    width: 349px;
    height: 64px;
    border-radius: 40px;
    border: none;
    color: white;
    margin: 60px;
}
.assignment button, .map-items button {
    background-color: #925FF0;
}
.dashboard button, .dropping button {
    background-color: #2A87CE;
}
.map-items {
    text-align: center;
    padding: 0px 100px 0px 100px;
}
.map-items input {
    width: 156px;
    height: 41px;
    left: 678px;
    top: 585px;
}
.dropping {
    margin: 0 auto;
    text-align: center;
}
.member-profile {
    padding: 10%;
}